.nav {
    display: flex;
    position: relative; 
    margin-top: 50px; 
    flex-direction: row;
    justify-content: space-between;    
}

.logo {
    position: relative; 
    top: -4rem; 
    left: 0rem; 
}

.logo img {
    height: 200px; 
    width: 200px;
}

.name {
    flex-grow: 0.6; 
    color: black;
}

@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        top: 2rem; 
    }
    
    .logo img {
        height: 200px; 
        width: 200px;
    }
    
    .name{
       display: none;
    }
}
